<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/a429e5bfb6.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title><%=title%></title>
  </head>
  <body>
    <div id="list_container">
      <h1 id="list_heading">TODO App</h1>
      <hr />
      <form action="">
        <div id="list_description">
          <label for="des">DESCRIPTION</label><br />
          <input
            type="text"
            id="des"
            name="Description"
            placeholder="What do you need to do?"
          />
        </div>
        <hr />
        <div id="list_categories_date">
          <div id="list_categories">
            <label for="dropdown">CATEGORY</label><br />
            <select name="Category" id="dropdown" class=".select">
              <option value="default">Choose a category</option>
              <option value="Personal">Personal</option>
              <option value="work">Work</option>
              <option value="school">School</option>
              <option value="cleaning">Cleaning</option>
              <option value="other">Other</option>
            </select>
          </div>
          <span id="split_line"></span>
          <div id="list_date">
            <label for="date">DUE DATE</label><br />
            <input type="date" name="Date" id="date" />
          </div>
        </div>
        <hr />
        <div id="list_buttons">
          <button type="Add Task">
            <i class="fa-solid fa-plus"></i>ADD TASK
          </button>
          <button type="Delete">
            <i class="fa-solid fa-trash-can"></i>DELETE TASKS
          </button>
        </div>
      </form>

      <div id="list_content">
        <input type="checkbox" name="checked" id="checked" />
        <div id="list_content_date">
          <p>Why not add a task?</p>
          <span><i class="fa-solid fa-calendar-days"></i></span>
          <span>May 2, 2019</span>
        </div>
        <span id="list_content_category">WORK</span>
      </div>
    </div>
    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
