<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title><%=title%></title>
  </head>
  <body>
    <div id="list_container">
      <h1 id="list_heading">TODO App</h1>
      <hr />
      <form action="">
        <div id="list_description">
          <label for="des">DESCRIPTION</label><br />
          <input
            type="text"
            id="des"
            name="Description"
            placeholder="What do you need to do?"
          />
        </div>
        <hr />
        <div id="list_categories_date">
          <div id="list_categories">
            <label for="dropdown">CATEGORY</label><br />
            <select name="Category" id="dropdown">
              <option value="default">Choose a category</option>
              <option value="Personal">Personal</option>
              <option value="work">Work</option>
              <option value="">School</option>
              <option value="">Cleaning</option>
              <option value="">Other</option>
            </select>
          </div>
          <div id="list_date">
            <label for="date">DUE DATE</label><br />
            <input type="date" name="Date" id="date" />
          </div>
        </div>
        <div>
          <button type="Add Task">ADD TASK</button>
          <button type="Delete">DELETE TASKS</button>
        </div>
      </form>
    </div>
    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
