@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: gray;
  background-color: darkslategray;
}

#list_container {
  width: 50rem;
  height: 100%;
  background-color: #ffffff;
  margin: 3rem auto;
}

#list_heading {
  text-align: center;
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-size: 1.75rem;
  padding-top: 1.5rem;
  padding-bottom: 5px;
}

#list_description {
  margin-left: 1.5rem;
  padding-top: 2px;
  padding-bottom: 1.3rem;
}

#list_description label {
  font-size: 0.8rem;
  font-weight: bold;
}

#list_description input[type="text"] {
  border: none;
  width: 100%;
  color: gray;
}

#list_description input:focus {
  outline: none;
  color: gray;
}

#list_description input::placeholder {
  color: lightgray;
}

#list_categories_date {
  display: flex;
  justify-content: center;
  padding-top: 2px;
}

#list_categories {
  position: relative;
  left: -3.7rem;
  /* margin-bottom: 0.8rem; */
}

#list_categories label {
  font-size: 0.8rem;
  font-weight: bold;
}

#split_line {
  position: relative;
  left: -1.5rem;
  top: -1.5px;
  height: 4rem;
  /* margin-left: 5rem; */
  border-right: 1px solid gray;
}

select {
  border: none;
  padding-right: 13rem;
  color: gray;
  font-weight: 600;
  appearance: none;
  background-image: url(../images/icons8-drop-down-24.png);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 20rem;
}

select:focus {
  outline: none;
}

#list_date {
  position: relative;
  /* left: -6rem; */
  /* marg */
}

#list_date label {
  font-size: 0.8rem;
  font-weight: bold;
}

#list_date input[type="date"] {
  border: none;
  width: 300px;
}

#list_buttons {
  text-align: center;
  margin: 2rem 0;
}

i {
  position: relative;
  color: #ffffff;
  left: -1rem;
  top: 2px;
  font-size: 1.2rem;
  font-weight: bold;
}

#list_delete1 {
  position: relative;
  left: 5px;
  background-color: #000000;
  color: #ffffff;
  padding: 12px 30px;
  border: none;
  font-size: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

#list_delete2 {
  position: relative;
  left: 5px;
  background-color: orangered;
  color: #ffffff;
  padding: 12px 30px;
  border: none;
  font-size: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

ul li {
  list-style-type: none;
}

#list_content {
  display: flex;
  justify-content: space-between;
  /* margin-top: 1.5rem; */
  margin-left: 1rem;
  border-top: 1px solid gray;
  width: 48rem;
  padding: 0.5rem 1rem;
}

#list_content_imp {
  position: relative;
  left: 2rem;
  top: -1.5rem;
}
#list_content_imp p:nth-child(1) {
  font-size: 0.8rem;
  font-weight: bold;
}

#list_content_imp i {
  color: darkgray;
  margin-left: 1rem;
  font-size: 0.9rem;
}

#list_content_imp span:nth-child(3) {
  font-size: 0.7rem;
  font-weight: bold;
  color: darkgray;
  position: relative;
  left: -0.8rem;
  top: 2px;
}

#list_content_category {
  border: 1px solid;
  padding: 0.5% 3.5%;
  border-radius: 0.2rem;
  background-color: yellowgreen;
  color: #ffffff;
  margin-top: 0.5rem;
}

input[type="checkbox"]:checked + #list_content_imp {
  text-decoration: line-through;
}
